In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
! ls ingresos_tarifarios

 ingresos-tarifarios-mpsa-2018.csv
 ingresos-tarifarios-mpsa-2019.csv
 ingresos-tarifarios-mpsa-2021.csv
'ingresos-tarifarios-mpsa-diciembre-2020(1).csv'
 ingresos-tarifarios-mpsa-diciembre-2020.csv

In [5]:
ing_tar_2018 = pd.read_csv('ingresos_tarifarios/ingresos-tarifarios-mpsa-2018.csv', delimiter=';')
ing_tar_2018

,METRO DE PANAMA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,RESUMEN DE INGRESOS TARIFARIOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRIMER TRIMESTRE 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MES,Ingreso Monedero,NaN,Ingreso Estudiantes,NaN,NaN,Ingreso Jubilados - Pensionados - 3ra Edad,NaN,NaN,Ingreso Discapacitados,NaN,NaN,Totales de Ingresos,NaN,NaN
3,NaN,Pasajeros,Monto Real,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento
4,ENERO,"6,461,578","2,261,552.30",0,0,0,"90,795","31,778.25","21,790.80","1,040",364,249.6,"6,553,413","2,293,694.55","2,283,592.70"
5,FEBRERO,"5,788,565","2,025,997.75",0,0,0,"69,374","24,280.90","16,649.76",62,21.7,14.88,"5,858,001","2,050,300.35","2,042,662.39"
6,MARZO,"7,110,591","2,488,706.85","60,150","21,052.50","10,225.50","105,896","37,063.60","25,415.04",165,57.75,39.6,"7,276,802","2,546,880.70","2,524,386.99"
7,INGRESO TOTAL,"19,360,734","B/.6,776,256.90","60,150","B/.21,052.50","B/.10,225.50","266,065","B/.93,122.75","B/.63,855.60","1,267",B/.443.45,B/.304.08,"19,688,216","6,890,875.60","6,850,642.08"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,METRO DE PANAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,RESUMEN DE INGRESOS TARIFARIOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,SEGUNDO TRIMESTRE 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,MES,Ingreso Monedero,NaN,Ingreso Estudiantes,NaN,NaN,Ingreso Jubilados - Pensionados - 3ra Edad,NaN,NaN,Ingreso Discapacitados,NaN,NaN,Totales de Ingresos,NaN,NaN
13,NaN,Pasajeros,Monto Real,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento
14,ABRIL,"7,018,132","2,456,346.20","94,856","33,199.60","16,125.52","118,055","41,319.25","28,333.20",179,62.65,42.96,"7,231,222","2,530,927.70","2,500,847.88"
15,MAYO,"7,054,272","2,468,995.20","101,737","35,607.95","17,295.29","130,683","45,739.05","31,363.92",230,80.5,55.2,"7,286,922","2,550,422.70","2,517,709.61"
16,JUNIO,"7,040,414","2,464,144.90","68,822","24,087.70","11,699.74","130,695","45,743.25","31,366.80",190,66.5,45.6,"7,240,121","2,534,042.35","2,507,257.04"
17,INGRESO TOTAL,"21,112,818","B/.7,389,486.30","265,415","B/.92,895.25","B/.45,120.55","379,433","B/.132,801.55","B/.91,063.92",599,B/.209.65,B/.143.76,"21,758,265","7,615,392.75","7,525,814.53"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,METRO DE PANAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RESUMEN DE INGRESOS TARIFARIOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,TERCER TRIMESTRE 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,MES,Ingreso Monedero,NaN,Ingreso Estudiantes,NaN,NaN,Ingreso Jubilados - Pensionados - 3ra Edad,NaN,NaN,Ingreso Discapacitados,NaN,NaN,Totales de Ingresos,NaN,NaN
23,NaN,Pasajeros,Monto Real,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento
24,JULIO,"7,202,740","2,520,959.00","93,844","32,845.40","15,953.48","142,152","49,753.20","34,116.48",232,81.2,55.68,"7,438,968","2,603,638.80","2,571,084.64"
25,AGOSTO,"7,499,333","2,624,766.55","93,508","32,727.80","15,896.36","153,842","53,844.70","36,922.08",224,78.4,53.76,"7,746,907","2,711,417.45","2,677,638.75"
26,SEPTIEMBRE,"7,046,736","2,466,357.60","62,892","22,012.20","10,691.64","147,130","51,495.50","35,311.20",139,48.65,33.36,"7,256,897","2,539,913.95","2,512,393.80"
27,INGRESO TOTAL,"21,748,809","B/.7,612,083.15","250,244","B/.87,585.40","B/.42,541.48","443,124","B/.155,093.40","B/.106,349.76",595,B/.208.25,B/.142.80,"22,442,772","7,854,970.20","7,761,117.19"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,METRO DE PANAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,RESUMEN DE INGRESOS TARIFARIOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,CUARTO TRIMESTRE 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,MES,Ingreso Monedero,NaN,Ingreso Estudiantes,NaN,NaN,Ingreso Jubilados - Pensionados - 3ra Edad,NaN,NaN,Ingreso Discapacitados,NaN,NaN,Totales de Ingresos,NaN,NaN
33,NaN,Pasajeros,Monto Real,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento,Pasajeros,Monto Real,Monto con Descuento
34,OCTUBRE,"7,806,426","2,732,249.10","94,524","33,083.40","16,069.08","170,673","59,735.55","40,961.52",162,56.7,38.88,"8,071,785","2,825,124.75","2,789,318.58"
35,NOVIEMBRE,"7,100,460","2,485,161.00","66,395","23,238.25","11,287.15","157,726","55,204.10","37,854.24",134,46.9,32.16,"7,324,715","2,563,650.25","2,534,334.55"
36,DICIEMBRE,"7,564,218","2,647,476.30","18,032","6,311.20","3,065.44","170,791","59,776.85","40,989.84",248,86.8,59.52,"7,753,289","2,713,651.15","2,691,591.10"
37,INGRESO TOTAL,"22,471,104","B/.7,864,886.40","178,951","B/.62,632.85","B/.30,421.67","499,190","B/.174,716.50","B/.119,805.60",544,B/.190.40,B/.130.56,"23,149,789","8,102,426.15","8,015,244.23"